html {
    height: auto;
    scroll-behavior: smooth;
}
body {
    height: auto;
    -webkit-overflow-scrolling: touch;
}
.intro {
    margin-left: 5%;
    font-family: Impact, Charcoal, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px black;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 20%;
    text-align: center;  
}
.intro span.job {
    line-height: 0.5;
    font-size: 40px;
}
.intro span.name {
    color: #ff737d;
}
#parallax-container {
    height: 100%; 
    width: 100%;
}

#parallax-container div, .parallaxTransiton{
left: 0;
position: absolute;
top: 0;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
transform: translateY(0px);
height: 100%;
width: 100%;
}

hr {
    margin: 0;
}

.appear {
    border-bottom: solid 2px white;
    position: fixed;
    background-image: url("../images/backgrounds/tree-texture-bg.jpg");
    opacity: 0.9;
}

.appear a:hover {
    color: #ff737d;
    text-shadow:  0 0 20px #999595;
}

/* contact section */
.contact {
    position: relative;
    color: black;
    background: white;
    width: 100%;
    height: 960px;
    background-image: url("../images/backgrounds/bench2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.quote {
    padding-bottom: 0;
    margin-bottom: 0;
    text-shadow: 2px 2px black;
    font-size: 30px;
}
.quote span {
    font-size: 20px;
}
.contact ul {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    position: absolute;
    padding: 0;
    display: flex;
}
.contact ul li {
    list-style: none;
    position: relative;
    margin: 10px 20px;
}
.contact ul li:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 80px;
    height: 16px;
    background: #000;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0;
    filter: blur(2px);
    transform: scale(0.8);
}
.contact ul li:hover:before {
    transition-delay: 0.1s;
    opacity: .9;
    transform: scale(1);
}
.contact ul li a {
    font-size: 50px;
    width: 80px;
    height: 80px;
    display: block;
    transition: 0.5s;
    background: rgb(104, 102, 102);
}
.contact ul li:hover a {
    box-shadow:  0 0 100px #ff737d ;
    transform: translateY(-20px);
    animation: rotate 3s infinite linear;
}
.contact ul li a span {
    width: 100%;
    height: 100%;
}
.contact ul li a span:before {
    border: 2px solid black;
    font-family: fontAwesome;
    text-align: center;
    color: #000;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    transform-origin: top;
    transition: transform 0.5s;
}
.contact ul li:hover a span:before {
    transform: rotateX(90deg) translateY(-50%);
}
.contact ul li a span:after {
    border: 2px solid black;
    font-family: fontAwesome;
    text-align: center;
    color: white;
    line-height: 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccc;
    transform-origin: bottom;
    transition: transform 0.5s;
    transform: rotateX(90deg) translateY(50%);
}
.contact ul li:hover a span:after {
    transform: rotateX(0deg) translateY(0%);
}
.contact ul li:nth-child(1) a span:before, .contact ul li:nth-child(1) a span:after {
    content: '\f0e0';
}
.contact ul li:nth-child(2) a span:before, .contact ul li:nth-child(2) a span:after {
    content: '\f0e1';
}
.contact ul li:nth-child(3) a span:before, .contact ul li:nth-child(3) a span:after {
    content: '\f09b';
}
.contact ul li:nth-child(4) a span:before, .contact ul li:nth-child(4) a span:after {
    content: '\f16c';
}
.contact ul li:nth-child(5) a span:before, .contact ul li:nth-child(5) a span:after {
    content: '\f16d';
}

.contact ul li:nth-child(1) a span:after {
    background: #e34d27;
}
.contact ul li:nth-child(2) a span:after {
    background: #5377f9;
}
.contact ul li:nth-child(3) a span:after {
    background: black;
}
.contact ul li:nth-child(4) a span:after {
    background: orange;
}
.contact ul li:nth-child(5) a span:after {
    background: linear-gradient(#400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);
}
.mainContent {
    overflow: hidden;
    width: 100%;
    text-align: center;
    top: 105%;
    color: black;
    position: absolute;
    z-index: 2;
    background-image: url("../images/backgrounds/tree-texture-bg.jpg")
}
.layer1 {
    background-image: url("../images/backgrounds/sunrise-bg.jpeg");
}
.layer2 {
    background-image: url("../images/backgrounds/sunrise-mountains-1.png");
    }
.layer3 {
    background-image: url("../images/backgrounds/sunrise-mountains-2.png");
}
.layer4 {
    background-image: url("../images/backgrounds/sunrise-buildings.png");
}
.layer5 {
    background-image: url("../images/backgrounds/sunrise-trees.png");
}

.parallaxTransiton {
    background-image: url("../images/backgrounds/sunrise-trees.png");
    top: 5%;
    z-index: 1;
    position: absolute;
}

.headshot {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.about-summary {
    margin: 0 auto;
    max-width: 75%;
}
p { 
    font-size: 20px;
    color: white;
    margin: 20px;
    padding: 10px 50px;
}
h2 {
color: white;;
}
.skillsBox {
margin-top: 40px;
background: #fff;
}
.skillLogo {
width: 100px;
padding: 10px;

}
.section-title {
    text-shadow: 2px 2px black;
font-family: Impact, Charcoal, sans-serif;

font-weight: bold;
text-transform: uppercase;
    padding: 120px 0 60px 0;
    font-size: 50px;
}
.section-subTitle {
        text-transform: uppercase;
    color: #ff737d;
    font-size: 25px;
}
.accent-hr {
    margin: 10px auto;
    width: 100px;
}
.bg-shadow {
    margin: 0 auto;
    max-width: 570px;
    background: rgba(0, 0, 0, 0.562);
}
.bg-shadow p {
    margin: 0;
    padding: 0;
}
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide, .featured {
    cursor: pointer;
    border: 1px solid white;
    position: relative;
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 400px;
    margin: 10px 0;
    background: #fff;
    overflow: hidden;
  }
.swiper-wraper {
    position: absolute;
    left: 0;
}
  .swiper-pagination-bullet {
    background: white;
  }
  .swiper-pagination-bullet-active {
    background: #007aff;
  
  }
  .swiper-slide-active, .featured  {
    overflow: hidden;
    background: #000;
    box-shadow:  0 0 20px rgba(245, 244, 244, 0.5);
    transition: .5s;
  }
  
  .featured:hover, .swiper-slide-active:hover {
    box-shadow:  0 0 60px #ff737d;
  }
  .feature-container {
      margin: 40px 0;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  
  .swiper-slide-active .imgBox,.featured .imgBox {
    position: relative;
  }
  
  .imgBox img {
    position: relative;
    transition: 0.5s;
    width: 100%;
  }
  
  .swiper-slide-active:hover .imgBox img, .featured:hover .imgBox img{
    opacity: 0.2;
    transform: translateY(-20px);
  }
  
  .swiper-slide-active .projectContent, .featured .projectContent {
    color: white;
    position: absolute;
    bottom: -40px;
    left: 0;
    padding: 20px;
    box-sizing:  border-box;
    opacity: 0;
  
  }
  .swiper-slide-active:hover .projectContent,.featured:hover .projectContent  {
    bottom: 10%;
    transition: 0.5s;
    opacity: 1;
  }
  .swiper-slide-active .projectContent h3, .featured .projectContent h3 {
    font-size: 48px; 
  }
  .swiper-slide-active .projectContent a, .featured .projectContent a {
    border: none;
    text-decoration: none;
    margin: 0 2px;
    background: #fe1b70;
    width: 100px;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .swiper-slide-active .projectContent a:hover, .featured .projectContent a:hover{
    background: #f6fe1b;
    color: #262626;
   
  }
  .projectContent p {
      padding: 10px;
  }
  
  h3 {
    color: white;
  }

footer {
    overflow-y: hidden;
    padding-bottom: 20px;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 150px;
    background: white;
}
footer p {
    text-transform: uppercase;
    margin-top: 0;
    color: black;
}

footer a {
    text-decoration: none;
    color: #5a77fb;
}
.toTop:before {
    font-weight: bold;
    color: black;
    font-size: 40px;
    font-family: fontAwesome;
    content: '\f102';
    border: 2px solid black;
    position: relative;
    bottom: 15px;
    background: #ff737d;
    padding: 5px;
}
.contentFadeTop {
    width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(top, rgba(0,0,0, 1),rgba(255,255,255,0));
    border-top: 2px solid white;
}
.contentFadeBottom {
    width: 100%;
    height: 20px;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0, 1), rgba(255,255,255,0));
    border-bottom: 2px solid white;

}
#transBox{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    background-image: url("../images/backgrounds/tree-texture-bg.jpg");
}

.navbar {
    color: #fff;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 18px;
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .navbar a {
    text-transform: uppercase;
    text-shadow:  0 0 20px #000000;

    text-decoration: none;
    color: #fff;
  }
  .navbar a.navbar-brand {
    float: left;
    height: inherit;
    line-height: inherit;
    padding: 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
  }
  .navbar a.navbar-brand span {
    font-size: 28px;
    font-weight: 700;
  }
  .navbar ul {
    float: right;
    list-style: none;
    height: inherit;
    line-height: inherit;
    padding: 0 50px;
  }
  .navbar ul li {
    display: inline-block;
  }
  .navbar ul li a {
    display: block;
    text-align: center;
    min-width: 120px;
    padding: 0 30px;
  }

  .navbar .navbar-toggler {
    display: none;
  }

  .navbar a.active {
    color: #ff737d;
    text-shadow:  0 0 20px #999595;
} 


/* @media (max-width: 991px) {
    .navbar ul {
      padding: 0 10px;
    }
    .navbar ul li a {
      min-width: 100px;
      padding: 0 20px;
    }
  } */



@media screen and (max-width: 991px) {
    #parallax-container div, .parallaxTransiton{
        background-position: 75% 25%;
        background-size: cover;
    }
    .intro {
        font-size: 40px;
        margin-left: 0;

    }
    .about-summary {
        max-width: 100%;
    }
    .aboutBox p{
        padding: 0;
    }
    .aboutBox .quote {
        font-size: 20px;
    }
    .swiper-slide, .featured {
        width: 300px;
        height: 300px;
    }
    .swiper-slide-active .projectContent a, .featured .projectContent a {
        font-size: 16px;
    }
    .swiper-slide-active .projectContent h3, .featured .projectContent h3 {
        font-size: 30px;
    }
    .swiper-slide-active .projectContent p, .featured .projectContent p {
       font-size: 16px;
       margin: 15px;
    }
    .swiper-slide-active:hover .projectContent,.featured:hover .projectContent {
        bottom: 5%;
    }
    .navbar {
        padding: 0;
    }
    .navbar ul {
        width: 100%;
        padding: 0;
        background-color: rgba(0,0,0,0.9);
        height: 100vh;
        max-height: 0;
        overflow: hidden;
        transition: all ease-in-out 0.3s;
    }
    .navbar ul.open {
        max-height: 100vh;
    }
    .navbar ul li {
        width: 100%;
    }
    .navbar ul li a {
        padding: 0;
    }
    .navbar-toggler,
    .navbar-toggler span,
    .navbar-toggler span::before,
    .navbar-toggler span::after {
        box-shadow: 0 0 10px #000000c5;
    }
    .navbar .navbar-toggler {
        display: block;
        position: absolute;
        height: 40px;
        top: 20px;
        right: 20px;
        background-color: transparent;
        color: #fff;
        border: 3px solid #fff;
        outline: none;
        padding: 0 5px;
        cursor: pointer;
    }
      .navbar .navbar-toggler span,
      .navbar .navbar-toggler span::before,
      .navbar .navbar-toggler span::after {
        display: block;
        content: '';
        background-color: #fff;
        height: 3px;
        width: 28px;
        border-radius: 4px;
        transition: all ease-in-out 0.3s;
      }
      .navbar .navbar-toggler span::before {
        transform: translateY(-8px);
      }
      .navbar .navbar-toggler span::after {
        transform: translateY(5px);
      }
      
      .navbar .navbar-toggler.open-navbar-toggler span {
        background-color: transparent;
      }
      .navbar .navbar-toggler.open-navbar-toggler span::before {
        transform: translateY(0px) rotate(45deg);
      }
      .navbar .navbar-toggler.open-navbar-toggler span::after {
        transform: translateY(-3px) rotate(-45deg);
      }
    footer p {
        padding: 0;
        font-size: 16px;
    }
   



}